In [1]:
# ratings, movies
# make a data frame of ratings and using is_null check if there is any null values in it
# check if the data types is correct
# drop non values if present
# drop duplicate records
# timestamp=integer to normal date time
# create three new column name as year, month and quater
# find out how many number of movies has been watched in each quater
# what are the average count of user watching movie per year
# do a group by on movies column and find out the average rating and the total number of users who have watched that movie

In [3]:
#1 create a data frame and using is_null check if there is any null values in it
import pandas as pd
df=pd.read_csv("ratings.csv")
df
df.isnull().any()  # .any() is use to check if any null value in any column
# .sum() is use to check how many total of null value in each column

userId       False
movieId      False
rating       False
timestamp    False
dtype: bool

In [5]:
print(df['timestamp'].dtype)

int64

In [6]:
#3 drop non values if present (there are no null values present in data set as we checked it before)
#4 drop duplicate records
df.duplicated().sum()
# there are no duplicated values in data frame ratings

np.int64(0)

In [7]:
#5 as we change the data type of timestamp before
df=pd.read_csv("movies.csv")
df1=pd.read_csv("ratings.csv")
df1['timestamp'] = pd.to_datetime(df1['timestamp'],unit='s') # correcting the data type of timestamp from int64 to datetime64[ns]
print(df1)

          userId  movieId  rating           timestamp
0              1       17     4.0 1999-12-03 19:24:37
1              1       25     1.0 1999-12-03 19:43:48
2              1       29     2.0 1999-11-22 00:36:16
3              1       30     5.0 1999-12-03 19:24:37
4              1       32     5.0 1999-11-22 00:00:58
...          ...      ...     ...                 ...
10450392   65508     1682     5.0 2006-09-26 04:33:34
10450393   65508     1704     4.0 2006-09-26 04:22:26
10450394   65508     1721     3.5 2006-09-26 05:00:40
10450395   65508     1784     4.0 2006-09-26 04:28:30
10450396   65508     1797     4.0 1970-01-01 00:00:11

[10450397 rows x 4 columns]

In [8]:
#6 create three new column name as year, month and quater
df1['year']=df1['timestamp'].dt.year
df1['month']=df1['timestamp'].dt.month
df1['quater']=df1['timestamp'].dt.quarter
df1

          userId  movieId  rating           timestamp  year  month  quater
0              1       17     4.0 1999-12-03 19:24:37  1999     12       4
1              1       25     1.0 1999-12-03 19:43:48  1999     12       4
2              1       29     2.0 1999-11-22 00:36:16  1999     11       4
3              1       30     5.0 1999-12-03 19:24:37  1999     12       4
4              1       32     5.0 1999-11-22 00:00:58  1999     11       4
...          ...      ...     ...                 ...   ...    ...     ...
10450392   65508     1682     5.0 2006-09-26 04:33:34  2006      9       3
10450393   65508     1704     4.0 2006-09-26 04:22:26  2006      9       3
10450394   65508     1721     3.5 2006-09-26 05:00:40  2006      9       3
10450395   65508     1784     4.0 2006-09-26 04:28:30  2006      9       3
10450396   65508     1797     4.0 1970-01-01 00:00:11  1970      1       1

[10450397 rows x 7 columns]

In [11]:
#find out how many number of movies has been watched in each quater
mov=df1.groupby(['year','quater']).size()
mov

year  quater
1970  1              1
1995  1              4
1996  1           3014
      2         161435
      3         183380
                 ...
2022  4          62641
2023  1          85470
      2          70593
      3          89539
      4          10229
Length: 114, dtype: int64

In [12]:
# what are the average count of user watching movie per year
movyr=df1.groupby(['year','userId'])
movyr.size()

year  userId
1970  65508       1
1995  25062       1
      30917       3
1996  2          52
      5          33
               ...
2023  65313      90
      65350     770
      65360     197
      65378      13
      65402      83
Length: 101022, dtype: int64

In [13]:
# do a group by on movies column and find out the average rating and the total number of users who have watched that movie
# firstly we merge the movie and the ratings data frame for this question
import pandas as pd

merged_df = pd.merge(df, df1, on='movieId')
merged_df

,movieId,title,genres,userId,rating,timestamp,year,month,quater
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,2.5,2007-01-20 03:53:51,2007,1,1
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,3.0,1996-12-08 22:44:36,1996,12,4
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.0,2002-07-22 02:42:31,2002,7,3
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,2000-11-20 07:14:48,2000,11,4
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,20,5.0,2019-03-21 16:03:50,2019,3,1
...,...,...,...,...,...,...,...,...,...
10450392,292593,Fool's Fire (1992),Drama,41695,4.5,2023-10-10 02:01:37,2023,10,4
10450393,292595,Ara (2008),Drama,41226,4.0,2023-10-10 02:36:13,2023,10,4
10450394,292613,Freelance (2023),Action|Comedy,34365,3.0,2023-10-10 14:25:03,2023,10,4
10450395,292619,Jacir (2023),Drama,15502,2.0,2023-10-11 00:31:31,2023,10,4
10450396,292731,The Monroy Affaire (2022),Drama,50685,4.0,2023-10-12 01:39:39,2023,10,4